body{
    margin: auto;
}
.bg{
    opacity:0.06;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:auto;
    background-size: cover;
}

.outbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagebox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox{
background-color: #fff7ed;
color: #000;
width: 100%;
max-width: 100rem;
display: flex;
margin: 2rem auto;
/* margin-bottom: 0rem; */

}

.textbox .textword{
/* font-family: Georgia, serif; */
font-family: 'Lato';
font-size:3vh;
background-color: #fff7ed;
/* display: inline-block; */
/* line-height: 2; */
margin: 1rem;
padding: 1rem;
text-align: justify;
}


.column{
  float: left;
  width:16%;
}

.pop{
    animation: clickit 1.9s
}
@keyframes clickit {
    0% {opacity: 0}
    80% {opacity: 0}
    100% {opacity: 1}
}

h1{
 color: black;
 font-size: 6.5vh;
 /* font-family: Georgia, serif; */
 font-family: 'Lato';
 margin-left: 3rem;
}


.center_img{
    /* padding: 1px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .box{
    /* background-color: #3c3f41; */
    /* width: 2rem; */
    width:max-content;
    display: flex;
}
.encode{
    width: 6rem;
    /* font-size: 13px; */
    font-style: italic;
    /* font-family: Georgia, serif; */
    font-family: 'Lato';
    font-size: 1rem;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 1s steps(20),
        cursor 0.5s;
}
@keyframes typing {
    from{ width: 0 }
    to{ width: 100% }
}